/* --Buttons HTML code-- */
#siteHeader {
  display: none;
  margin: auto;
  width: var(--table-width);
}

.mobilesiteHeader {
  width: 100%;
}

#infoLine {
  margin: 1rem 0 1rem 0;
  color: var(--color-fg-infoline);
  font-size: 0.8rem;
  font-weight: normal;
}
#marquee {
  height: 2rem;
  width: 100%;
  max-width: var(--table-width);
  color: var(--color-fg-marquee);
}

h1 {
  font-size: 17px;
  color: var(--color-fg-h1);
}

.button {
  min-width: 2rem;
  font-weight: normal;
  margin: 0;
  font-size: 1rem;
  background-color: #404040;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.iconbutton {
  padding: 3px 3px 4px 3px;
}

.noiconbutton {
  padding: 4px 4px 4px 3px;
}

.audiolink {
  padding: 0 1rem 0 1rem;
  background-color: #404040;
  color: #ffffff;
}

.button:hover,
.audiolink:hover {
  background-color: #525252;
  color: #ffffff;
}

/* 
@media (device-height: 768px) {
    #siteLogo {
        width: 12rem;
    }
} 
*/

/* -------------- start menubar style -------------- */

/* 
    https://www.youtube.com/watch?v=xVdaWXKz6j8 
    https://stackoverflow.com/questions/30376088/jquery-menubar-jquery-javascript-css
*/

.menubar {
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-family: var(--color-font-html);
  font-weight: 400;
  font-size: 1.1rem;
  background-color: var(--color-menubar-background);
  opacity: 0.9;
  z-index: 1000;
}
.menubar li {
  text-align: center;
}
.menubar li img {
  position: relative;
  top: 7px;
  max-height: 1.7rem;  
}
.menubar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menubar ul li {
  display: inline-block;
  line-height: 1.7rem;
  width: auto;
  min-width: 2rem;
  margin: 0 0.25rem 0 0.25rem;
}

/* first row */
.menubar ul li:hover:not(.zoom) {
  color: var(--color-menubar-foreground);
  background-color: var(--color-menubar-hover);
}
.menubar ul li a, visited {
  text-decoration: none;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  color: var(--color-menubar-foreground);
}
.menubar ul li div:hover {
  color: var(--color-menubar-foreground);
  background-color: var(--color-menubar-hover);
}
.menubar ul li:hover > ul {
  display: block;
}
.menubar ul ul {
  display: none;
  position: absolute;
  min-width: auto;
  background-color: var(--color-menubar-background);
}
.menubar ul ul li {
  display: block;
  text-align: left;
  padding: 0 0.25rem 0 0.25rem;
  min-width: 6rem;
  color: var(--color-dropdown-foreground);
  background-color: var(--color-dropdown-background);
}
.menubar ul ul li:hover {
  color: var(--color-menubar-foreground);
  background-color: var(--color-dropdown-hover);
}
.menubar ul li:hover ul li a, visited {
  color: var(--color-dropdown-foreground);
}
.menubar ul ul li:hover > ul {
  display: block;
}
.menubar ul ul ul {
  margin: -5rem 0 0 16rem;
  color: var(--color-dropdown-foreground);
}
.menubar ul ul ul li a:hover {
  color: var(--color-dropdown-hover);
}
.nopadding {
  padding: 0.25rem 0.25rem 0 0.25rem !important;
}

.container {
  position: relative;
}

.separator {
  color: var(--color-dropdown-foreground);
  background-color: var(--color-dropdown-background);
  text-align: center;
}

/* -------------- end menubar style -------------- */

#siteLogo {
  height: 6rem;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: calc(var(--color-sitelogo-posY) - (var(--color-sitelogo-height) / 2));
  left: var(--color-sitelogo-posX);
  transform: translateY(calc(-1 * var(--color-sitelogo-posY)));
  transform: translateX(calc(-1 * var(--color-sitelogo-posX)));
}

#menuSearch button {
  background-color: var(--color-menubar-background);
  color: var(--color-menubar-foreground);
  border-style: unset;
  width: 1.4rem;
  padding: 0;
  margin: 0;
}

#menuSearch input {
  background: none;
  border: none;
  transition: 0.4s;
  width: 0;
}

#menuSearch:hover input,
#menuSearch input:focus-within {
  outline: none;
  width: 8rem;
  background: var(--color-menubar-foreground);
}
.submenuicon {
  display: inline-block;
  min-width: 2rem;
}

.msFriend {
  background-color: #45fd1c;
}

.msLocal {
  background-color: #661aff;
}

.msAlien {
  background-color: #ff0000;
}

.serverActive {
  background-color: #0c710c;
}
